@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-sm text-foreground;
  }
}

@layer base {
  :root {
    --primary-100: 202 100% 95%;
    --primary-200: 204 100% 82%;
    --primary-300: 206 100% 74%;
    --primary-400: 208 100% 66%;
    --primary-500: 210 100% 58%;
    --primary-600: 212 100% 48%;
    --primary-700: 214 100% 40%;
    --primary-800: 216 100% 33%;
    --primary-900: 218 100% 25%;
    --primary-950: 220 100% 17%;
    --ds-background-100: 100% 0 0;
    --ds-background-200: 98.51% 0 0;
    --ds-gray-100: 96.19% 0 0;
    --ds-gray-200: 93.89% 0 0;
    --ds-gray-300: 92.34% 0 0;
    --ds-gray-400: 93.89% 0 0;
    --ds-gray-500: 83.73% 0 0;
    --ds-gray-600: 73.26% 0 0;
    --ds-gray-700: 64.94% 0 0;
    --ds-gray-800: 58.95% 0 0;
    --ds-gray-900: 51.03% 0 0;
    --ds-gray-950: 20.44% 0 0;
    --ds-amber-100: 97.48% 0.0331 85.79;
    --ds-amber-200: 96.81% 0.0495 90.24227879900472;
    --ds-amber-300: 95.93% 0.0636 90.52;
    --ds-amber-400: 91.02% 0.1322 88.25;
    --ds-amber-500: 86.55% 0.1583 79.63;
    --ds-amber-600: 80.25% 0.1953 73.59;
    --ds-amber-700: 81.87% 0.1969 76.46;
    --ds-amber-800: 77.21% 0.1991 64.28;
    --ds-amber-900: 52.79% 0.1496 54.65;
    --ds-amber-950: 30.83% 0.099 45.48;
    --ds-blue-100: 97.32% 0.0141 251.56;
    --ds-blue-200: 96.29% 0.0195 250.59;
    --ds-blue-300: 94.58% 0.0293 249.84870859673202;
    --ds-blue-400: 91.58% 0.0473 245.11621922481282;
    --ds-blue-500: 82.75% 0.0979 248.48;
    --ds-blue-600: 73.08% 0.1583 248.133320980386;
    --ds-blue-700: 57.61% 0.2508 258.23;
    --ds-blue-800: 51.51% 0.2399 257.85;
    --ds-blue-900: 53.18% 0.2399 256.9900584162342;
    --ds-blue-950: 26.67% 0.1099 254.34;
    --ds-green-100: 97.59% 0.0289 145.42;
    --ds-green-200: 96.92% 0.037 147.15;
    --ds-green-300: 94.6% 0.0674 144.23;
    --ds-green-400: 91.49% 0.0976 146.24;
    --ds-green-500: 85.45% 0.1627 146.3;
    --ds-green-600: 80.25% 0.214 145.18;
    --ds-green-700: 64.58% 0.1746 147.27;
    --ds-green-800: 57.81% 0.1507 147.5;
    --ds-green-900: 51.75% 0.1453 147.65;
    --ds-green-950: 29.15% 0.1197 147.38;
    --ds-red-100: 96.5% 0.0223 13.09;
    --ds-red-200: 95.41% 0.0299 14.252646656611997;
    --ds-red-300: 94.33% 0.0369 15.011509923860523;
    --ds-red-400: 91.51% 0.0471 19.8;
    --ds-red-500: 84.47% 0.1018 17.71;
    --ds-red-600: 71.12% 0.1881 21.22;
    --ds-red-700: 62.56% 0.2524 23.03;
    --ds-red-800: 58.19% 0.2482 25.15;
    --ds-red-900: 54.99% 0.232 25.29;
    --ds-red-950: 24.8% 0.1041 18.86;
    --ds-pink-100: 95.69% 0.0359 344.6218910697224;
    --ds-pink-200: 95.71% 0.0321 353.14;
    --ds-pink-300: 93.83% 0.0451 356.29;
    --ds-pink-400: 91.12% 0.0573 358.82;
    --ds-pink-500: 84.28% 0.0915 356.99;
    --ds-pink-600: 74.33% 0.1547 0.24;
    --ds-pink-700: 63.52% 0.238 1.01;
    --ds-pink-800: 59.51% 0.2339 4.21;
    --ds-pink-900: 53.5% 0.2058 2.84;
    --ds-pink-950: 26% 0.0977 359;
    --ds-purple-100: 96.65% 0.0244 312.1890119359961;
    --ds-purple-200: 96.73% 0.0228 309.8;
    --ds-purple-300: 94.85% 0.0364 310.15;
    --ds-purple-400: 91.77% 0.0614 312.82;
    --ds-purple-500: 81.26% 0.1409 310.8;
    --ds-purple-600: 72.07% 0.2083 308.19;
    --ds-purple-700: 55.5% 0.3008 306.12;
    --ds-purple-800: 48.58% 0.2638 305.73;
    --ds-purple-900: 47.18% 0.2579 304;
    --ds-purple-950: 23.96% 0.13 305.66;
    --ds-teal-100: 97.72% 0.0359 186.7;
    --ds-teal-200: 97.06% 0.0347 180.66;
    --ds-teal-300: 94.92% 0.0478 182.07;
    --ds-teal-400: 92.76% 0.0718 183.78;
    --ds-teal-500: 86.88% 0.1344 182.42;
    --ds-teal-600: 81.5% 0.161 178.96;
    --ds-teal-700: 64.92% 0.1572 181.95;
    --ds-teal-800: 57.53% 0.1392 181.66;
    --ds-teal-900: 52.08% 0.1251 182.93;
    --ds-teal-950: 32.11% 0.0788 179.82;

    --accents-500: 0 0% 40%;

    --gray-100: 0 0% 95%;
    --gray-700: 0 0% 56%;

    --background-200: 0 0% 98%;
    --background: 0 0% 100%;
    --background-hover: 0 0% 95%;
    --background-disabled: var(--gray-100);

    --foreground: 0 0% 9%;

    --secondary: var(--accents-500);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    /* --primary-foreground: 0 0% 98%; */
    --primary-foreground: flush-orange-600;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --error: 358 70% 52%;
    --error-bg: 358 70% 52%;
    --error-active: 358 73% 28%;
    --error-hover: 358 66% 48%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --warning: 40 96% 53%;
    --warning-bg: 50 100% 95%;
    --warning-border: 46 100% 78%;

    --border: hsla(0 0% 0% / 0.08);
    --border-hover: hsla(0 0% 0% / 0.12);

    --ring: 0 0% 3.9%;
    --radius: 0.375rem;
    --placeholder: var(--gray-700);

    --link: 14 79% 62%;
    --input: 0 0% 89.8%;

    --text-description: 0 0% 0% / 45%;
  }

  .dark {
    --primary-100: 216 100% 5%;
    --primary-200: 204 90% 80%;
    --primary-300: 206 89% 72%;
    --primary-400: 208 86% 63%;
    --primary-500: 210 79% 52%;
    --primary-600: 212 100% 41%;
    --primary-700: 212 100% 31%;
    --primary-800: 212 100% 21%;
    --primary-900: 212 100% 14%;
    --primary-950: 214 100% 10%;
    --ds-background-100: 14.48% 0 0;
    --ds-background-200: 0% 0 0;
    --ds-gray-100: 0, 0%, 10%;
    --ds-gray-200: 0, 0%, 12%;
    --ds-gray-300: 0, 0%, 16%;
    --ds-gray-400: 0, 0%, 18%;
    --ds-gray-500: 0, 0%, 27%;
    --ds-gray-600: 0, 0%, 53%;
    --ds-gray-700: 0, 0%, 56%;
    --ds-gray-800: 0, 0%, 49%;
    --ds-gray-900: 0, 0%, 63%;
    --ds-gray-950: 0, 0%, 93%;
    --ds-amber-100: 22.46% 0.0538 76.04;
    --ds-amber-200: 24.95% 0.0642 64.78;
    --ds-amber-300: 32.34% 0.0837 63.83;
    --ds-amber-400: 35.53% 0.0903 66.29707162673735;
    --ds-amber-500: 41.55% 0.1044 67.98;
    --ds-amber-600: 75.04% 0.1737 74.49;
    --ds-amber-700: 81.87% 0.1969 76.46;
    --ds-amber-800: 77.21% 0.1991 64.28;
    --ds-amber-900: 77.21% 0.1991 64.28;
    --ds-amber-950: 96.7% 0.0418 84.59;
    --ds-blue-100: 22.17% 0.069 259.89;
    --ds-blue-200: 25.45% 0.0811 255.8;
    --ds-blue-300: 30.86% 0.1022 255.21;
    --ds-blue-400: 34.1% 0.121 254.74;
    --ds-blue-500: 38.5% 0.1403 254.4;
    --ds-blue-600: 64.94% 0.1982 251.8131841760864;
    --ds-blue-700: 57.61% 0.2321 258.23;
    --ds-blue-800: 51.51% 0.2307 257.85;
    --ds-blue-900: 71.7% 0.1648 250.79360374054167;
    --ds-blue-950: 96.75% 0.0179 242.4234217368056;
    --ds-green-100: 23.09% 0.0716 149.68;
    --ds-green-200: 27.12% 0.0895 150.09;
    --ds-green-300: 29.84% 0.096 149.25;
    --ds-green-400: 34.39% 0.1039 147.78;
    --ds-green-500: 44.19% 0.1484 147.2;
    --ds-green-600: 58.11% 0.1815 146.55;
    --ds-green-700: 64.58% 0.199 147.27;
    --ds-green-800: 57.81% 0.1776 147.5;
    --ds-green-900: 73.1% 0.2158 148.29;
    --ds-green-950: 96.76% 0.056 154.18;
    --ds-red-100: 22.1% 0.0657 15.11;
    --ds-red-200: 25.93% 0.0834 19.02;
    --ds-red-300: 31.47% 0.1105 20.96;
    --ds-red-400: 35.27% 0.1273 21.23;
    --ds-red-500: 40.68% 0.1479 23.16;
    --ds-red-600: 62.56% 0.2277 23.03;
    --ds-red-700: 62.56% 0.2234 23.03;
    --ds-red-800: 58.01% 0.227 25.12;
    --ds-red-900: 69.96% 0.2136 22.03;
    --ds-red-950: 95.6% 0.0293 6.61;
    --ds-pink-100: 22.67% 0.0628 354.73;
    --ds-pink-200: 26.2% 0.0859 356.68;
    --ds-pink-300: 31.15% 0.1067 355.93;
    --ds-pink-400: 32.13% 0.1174 356.71;
    --ds-pink-500: 37.01% 0.1453 358.39;
    --ds-pink-600: 50.33% 0.2089 4.33;
    --ds-pink-700: 63.52% 0.2346 1.01;
    --ds-pink-800: 59.51% 0.2429 4.21;
    --ds-pink-900: 69.36% 0.2223 3.91;
    --ds-pink-950: 95.74% 0.0326 350.08;
    --ds-purple-100: 22.34% 0.0779 316.87;
    --ds-purple-200: 25.91% 0.0921 314.41;
    --ds-purple-300: 31.98% 0.1219 312.41;
    --ds-purple-400: 35.93% 0.1504 309.78;
    --ds-purple-500: 40.99% 0.1721 307.92;
    --ds-purple-600: 55.5% 0.2191 306.12;
    --ds-purple-700: 55.5% 0.2186 306.12;
    --ds-purple-800: 48.58% 0.2102 305.73;
    --ds-purple-900: 69.87% 0.2037 309.51;
    --ds-purple-950: 96.1% 0.0304 316.46;
    --ds-teal-100: 22.1% 0.0544 178.74;
    --ds-teal-200: 25.06% 0.062 178.76;
    --ds-teal-300: 31.5% 0.0767 180.99;
    --ds-teal-400: 32.43% 0.0763 180.13;
    --ds-teal-500: 43.35% 0.1055 180.97;
    --ds-teal-600: 60.71% 0.1485 180.24;
    --ds-teal-700: 64.92% 0.1403 181.95;
    --ds-teal-800: 57.53% 0.1392 181.66;
    --ds-teal-900: 74.56% 0.1765 182.8;
    --ds-teal-950: 96.46% 0.056 180.29;

    --accents-500: 0 0% 53%;

    --gray-100: 0 0% 10%;
    --gray-700: 0 0% 56%;

    --background-200: 0 0% 0%;
    --background: 0 0% 4%;
    --background-hover: 0 0% 12%;

    --foreground: 0 0% 98%;

    --secondary: var(--accents-500);

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --error: 358 69% 52%;
    --error-active: 5 100% 82%;
    --error-hover: 358 100% 69%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: hsla(0 0% 100% / 0.14);
    --border-hover: hsla(0 0% 100% / 0.17);

    /* --border: 0 0% 89.8%; */
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --text-description: 0 0% 100% / 45%;
  }
}
