/* https://github.com/shadcn-ui/ui/blob/main/apps/v4/app/globals.css */
@import "tailwindcss";

@plugin "tailwindcss-animate";

@import "./shadcn.css" layer(base);
@import "./colors.css" layer(base);
@import "./token.css" layer(base);

@config "./plugins.ts";

@custom-variant dark (&:is(.dark *));

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/*@utility border-border {*/
/*  border-color: oklch(var(--ds-gray-400) / <alpha-value>);*/
/*}*/
/*@utility bg-background {*/
/*  background: oklch(var(--ds-background-100) / <alpha-value>);*/
/*}*/
/*@utility text-foreground {*/
/*  color: var(--color-gray-950);*/
/*}*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground min-h-screen overscroll-none font-sans antialiased;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }

  @layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }
}
