:root {
  --primary: var(--color-primary-600);
  --ring: var(--color-primary-100);

  --breakpoint-xs: 480px;
  --control-height: 32px;
  --control-height-lg: 40px;
  --control-height-sm: 24px;
  --line-height: 22px;
  --margin-xs: 8px;

  --progress-default-color: var(--color-blue-600);
}

@theme inline {
  --color-error: var(--color-red-500);
  --color-error-hover: var(--color-red-600);
  --color-link: var(--color-blue-500);
  --color-link-hover: var(--color-blue-600);
  --color-success: var(--color-green-500);
  --color-success-hover: var(--color-green-600);

  --color-text-placeholder: var(--color-muted-foreground);

  --spacing-control: var(--control-height);
  --spacing-control-sm: var(--control-height-sm);
  --spacing-control-lg: var(--control-height-lg);
  --spacing-line-height: var(--line-height);

  --box-shadow-secondary:
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
