:root {
  --color-primary-50: oklch(99% .012 250.786);
  --color-primary-100: oklch(95.5% .029 251.767);
  --color-primary-200: oklch(90.5% .053 250.310);
  --color-primary-300: oklch(83.3% .094 247.995);
  --color-primary-400: oklch(73.3% .147 250.806);
  --color-primary-500: oklch(65% .191 255.997);
  --color-primary-600: oklch(57.4% .219 259.063);
  --color-primary-700: oklch(51.5% .217 260.558);
  --color-primary-800: oklch(45% .178 261.820);
  --color-primary-900: oklch(40.5% .130 261.704);
  --color-primary-950: oklch(30.6% .081 264.117);

  --color-green-50: oklch(96.9% .010 136.913);
  --color-green-100: oklch(93.1% .022 137.894);
  --color-green-200: oklch(88.1% .041 136.437);
  --color-green-300: oklch(80.8% .073 134.122);
  --color-green-400: oklch(70.6% .115 136.933);
  --color-green-500: oklch(62.2% .149 142.124);
  --color-green-600: oklch(54.5% .170 145.190);
  --color-green-700: oklch(48.7% .169 146.685);
  --color-green-800: oklch(42.3% .138 147.947);
  --color-green-900: oklch(37.8% .101 147.831);
  --color-green-950: oklch(28.1% .063 150.244);

  --color-orange-50: oklch(99% .013 32.839);
  --color-orange-100: oklch(95.9% .029 33.820);
  --color-orange-200: oklch(91% .054 32.363);
  --color-orange-300: oklch(83.9% .095 30.048);
  --color-orange-400: oklch(73.8% .149 32.859);
  --color-orange-500: oklch(65.6% .194 38.050);
  --color-orange-600: oklch(58% .222 41.116);
  --color-orange-700: oklch(52.1% .220 42.611);
  --color-orange-800: oklch(45.6% .180 43.873);
  --color-orange-900: oklch(41% .132 43.757);
  --color-orange-950: oklch(31.2% .082 46.170);
}

@theme inline {
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
}
