:root {
  --color-primary-50: oklch(99% 0.012 250.786);
  --color-primary-100: oklch(95.5% 0.029 251.767);
  --color-primary-200: oklch(90.5% 0.053 250.31);
  --color-primary-300: oklch(83.3% 0.094 247.995);
  --color-primary-400: oklch(73.3% 0.147 250.806);
  --color-primary-500: oklch(65% 0.191 255.997);
  --color-primary-600: oklch(57.4% 0.219 259.063);
  --color-primary-700: oklch(51.5% 0.217 260.558);
  --color-primary-800: oklch(45% 0.178 261.82);
  --color-primary-900: oklch(40.5% 0.13 261.704);
  --color-primary-950: oklch(30.6% 0.081 264.117);
}

@theme inline {
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
}
