name: UI Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./github/setup

      - name: Install Playwright browsers
        working-directory: ui
        run: npx playwright install --with-deps chromium

      - name: Run tests
        working-directory: ui
        run: pnpm test

